@import "./common.scss";

.banner-container {
  justify-content: center;
  background-image: url("../images/hero2.webp");
}

.main-container {
  .container-wrapper {
    display: flex;
    justify-content: center;

    .box-container {
      max-width: 100%;
      display: block;
      padding-bottom: 40px;

      .box-wrapper {
        gap: 40px;
      }
    }
  }

  .info-group {
    width: 100%;
    
    .info-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: #b9bbbe;
      margin-bottom: 30px;

      .info-icon {
        width: 50px;
        font-size: 50px;
      }

      .info-content {
        display: block;
        padding: 10px;
        width: calc(100% - 50px);

        .info-txt {
          width: 100%;
          word-break: break-word;
        }
      }
    }
  }
}
