@import "./common.scss";

.banner-container {
  justify-content: center;
  background-image: url("../images/hero2.webp");
}

.main-container {

  .message-container{
    padding-top: 40px;
  }

  .info-group {
    width: 100%;
    
    .info-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: #b9bbbe;
      margin-bottom: 30px;

      .info-icon {
        width: 50px;
        font-size: 50px;
      }

      .info-content {
        display: block;
        padding: 10px;
        width: calc(100% - 50px);

        .info-txt {
          width: 100%;
          word-break: break-word;
        }
      }
    }
  }
}
